body {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  margin: 0;
}

body > * {
  padding: 0 300px;
}

button {
  background-color: #3882f6;
  padding: 8px 32px;
  color: #f9faf8;
  font-weight: bold;
  border-radius: 8px;
}

.sign-up {
  border: 0;
}

.header,
.hero,
.footer {
  background: #1f2937;
}

.header,
.hero {
  display: flex;
  justify-content: space-between;
}

.header {
  align-items: center;
}

.hero {
  padding: 48px 300px;
  gap: 32px;
  align-items: flex-start;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.header-links > li {
  list-style-type: none;
  margin: 0;
}

a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.hero-main {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 800;
  margin: 0;
}

.hero-secondary {
  font-size: 18px;
  color: #e5e7eb;
  margin: 8px 0;
}

.hero-image {
  height: 300px;
}

.information {
  padding: 24px 300px;
}

.info-text {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  text-align: center;
}

.cards {
  display: flex;
  gap: 36px;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  width: 150px;
  justify-content: center;
}

.card-image {
  width: auto;
  border: solid, 3px, #3882f6;
  border-radius: 8px;
}

.card > p {
  text-align: center;
  margin: 8px 0;
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 64px 360px;
  color: #1f2937;
}

.quote-text {
  margin: 0;
  font-size: 36px;
  font-weight: 300;
}

.quote-author {
  margin: 0;
  align-self: flex-end;
  font-weight: 800;
  font-size: 24px;
}

.call {
  padding: 48px 300px;
}

.call-inner {
  background-color: #3882f6;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 96px;
}

.call-main {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
  margin: 0;
}

.call-secondary {
  font-size: 16px;
  color: #f9faf8;
  margin: 0;
}

.call-signup {
  border: 3px solid #f9faf8;
}

.footer {
  height: 72px;
  font-size: 18px;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
}
